@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    text-align: center;
    font-size: 1.5rem;
}

:root{
    --green:#34D399;

    
}

.nav{
    background-color: var(--green);
    font-size: 1.7rem;
    display: flex;
    justify-content: end;
    padding: 1.5rem;
    font-family: 'Source Serif Pro', serif;

}

.nav .nav-link{
    color:black;
    padding: 1rem;

}

.nav .active{
    font-weight: bold;
    
}

li{
    list-style: none;
}

.head{
    padding: 2rem;

}
.head .head-img{
    max-width: 23rem;
    display: block;
    margin: auto;
    padding: 1rem;
    border:3px solid #065F46;
    border-radius: 55px;

}
.head .head-caption{
    padding-top: 0.2rem;
    text-align: center;
    padding-bottom: 1rem;
    font-family: 'Source Serif Pro', serif;
    color:#064E3B;

}
h4{
    font-size: larger;
}
h1{
    padding-top: 1.5rem;
    text-align: center;
    font-family: 'Sacramento', cursive;
    font-size: 3.5rem;
    color: var(--green);
    text-shadow: 1px 2px black;   

}
hr{
    font-weight: bolder;
    margin: 1rem;
    
}


.container{
    margin-top: 1.9rem;
    font-size: 3rem;
    color:#065F46;
    font-weight: 600;
    font-family: 'Sacramento', cursive;
}
.contact{
    background-color:#059669;
    padding: 0.5rem;
    border-radius: 10px;
    color:white;
    font-size: 1.4rem;
    border: 1px solid #34D399;
    margin-right:12rem;
}

.section{
    max-width: 650px;
    margin: auto;
    border: 2px solid #34D399;
    padding: 2rem;
    background-color: #34D399;
    border-radius: 25px;
    margin-bottom: 2.3rem;
}
.about{
    font-size: 3rem;
    font-family: 'Sacramento', cursive;
    color: white;
}

.desc{
    font-family: 'Source Serif Pro', serif;
    text-align: left;
    margin: 0.7rem;
}
.skill-section .title{
    text-align: center;
    font-size: 3.5rem;
    padding: 0.3rem;
    font-family: 'Sacramento', cursive;
    color:#065F46;
    font-weight: 600;

}
.skill-section{
    max-width: 800px;
    margin: auto;    
}

.skill-section ul.skill, .skill-section .wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0.4rem;
    margin: 0.5rem;
}

.skill-section .wrapper {
    flex-direction: column;
}

.skill-section i {
    font-size: 60px;
    padding: 1rem;
}


.my-img{
    max-width: 22rem;
    display: block;
    margin: auto;
    padding: 1rem;
    border:3px solid #34D399;
    border-radius:40px;

}
.projs{
    font-family: 'Source Serif Pro', serif;

}
.box{
    max-width: 640px;
    margin: auto;
    margin-top: 0.6rem;
    margin-bottom: 1rem;
    background-color:#E5E7EB;
    padding: 0.8rem;
    border: 3px solid #34D399;
    box-shadow: 10px 5px 5px #34D399;

}
.link{
    color: white;
    font-size: 1.3rem;
    padding: 0.5rem;
    border-radius: 10px;
    margin: 0.8rem;
    border: 2px solid #059669;
    background-color: #059669;

}

footer{
    text-align: center;
    background-color:var(--green);  
    margin-top: 3rem;
    height: 10rem;
}

.connect{
    padding-top: 2rem;
    padding-bottom: 1.2rem;
    font-size: 2rem;
    color:white;
    font-family: 'Merienda', cursive;
    
}

.foot-img{
    height: 2rem;
    width: 2rem;
    margin: 0.2rem;
    box-shadow:0px 0px 10px 0px black;
}

.foot-img:hover{
    background-color: blue;
}

h2{
    font-size: 3.5rem;
    font-family: 'Sacramento', cursive;
    color:black; 
    text-shadow: 1px 1px #059669; 
    margin: 1rem;
}
.proj{
    max-width: 580px;
    margin: auto;
    padding: 1.7rem;
    text-align: left;
    margin-bottom: 2rem;
    background-color:#E5E7EB;
    border: 3px solid #34D399;
    box-shadow: 10px 8px 5px #34D399;
    border-radius: 18px;

}

.blog{
        max-width: 580px;
        margin: auto;
        text-align: left;
        background-color:#E5E7EB;
        margin-bottom: 2.3rem;
        border: 3px solid #34D399; 
        padding: 1.7rem;
}

h3{
    padding-bottom: 0.6rem;
    font-family: 'Source Serif Pro', serif;
    color:#064E3B;

}

.art{
    padding: 1rem;
    font-family: 'Source Serif Pro', serif;
    color:white;
    font-size: 2rem;
    background-color: #059669;
    margin-bottom: 0.8rem;
}

.mark{
    color: #059669;
    font-size: 1.2rem;
    padding: 0.4rem;
    border-radius: 10px;
    border: 2px solid #059669;
    margin: 0.2rem;
}

.cur{
    font-family: 'Merienda', cursive;
    font-size: large;

}

.github{
    color: #059669;
    font-size: 1.35rem;
    padding: 0.5rem;
    border-radius: 12px;
    margin: 0.2rem;
    border: 2px solid #059669;
}
.live{
    color: white;
    font-size: 1.2rem;
    padding: 0.5rem;
    border-radius: 12px;
    /* margin: 0.8rem; */
    border: 2px solid #059669;
    background-color:#059669;
}
.read{
    color: #059669;
    font-size: 1.2rem;
    padding: 0.5rem;
    border-radius: 12px;
    border: 2px solid #059669;
    margin-left: 7rem;


}
.read:hover{
    background-color: black;
    border: 1px solid black;
}
i{
    padding: 0.3rem;
}
@media (min-width: 768px) and (max-width: 1199.98px){
    body {
      background-color: lightskyblue;
    }
  }